#linechart-container {

    width: 80rem;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: -5rem;
}

.linechart-svg {
    transform: scale(1.1);
}
/* AXES */
/* ticks */
.axis line{
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
    }
    
    /* axis contour */
    .axis path {
    stroke: #706f6f;
    stroke-width: 1.5;
    shape-rendering: auto;
    }
    
    /* axis text */
    .axis text {
    fill: #2b2929;
    font-family: sans-serif;
    font-size: 1.6rem;
    }
    
    /* LINE CHART */
    path.line-0 {
        fill: none;
        stroke: var(--pri-blue-darker);
        stroke-linejoin:inherit;
        stroke-width: 3px;
        shape-rendering: auto;
    }
    
    path.line-1 {
        fill: none;
        stroke: var(--pri-yellow);
        stroke-linejoin: round;
        stroke-width: 3px;
        /* stroke-dasharray: 2; */
    }
    
    path.line-2 {
        fill: none;
        stroke: var(--pri-green);
        stroke-width: 3px;
        /* stroke-dasharray: 6; */
    }
    
    .serie_label {
      fill: #2b2929;
      font-family: Georgia;
      font-size: 1.6rem;
    }

    #piechart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        position: relative;
    }

    #piechart-container svg {
        max-width: 100%;
    }


/* >>>>>>>>>>MEDIA QUERIES<<<<<<<<< */

    @media screen and (max-width: 900px) {
        #linechart-container {
            margin-top: -5rem;
            margin-bottom: -6rem;
        }
    }

    @media screen and (max-width: 830px) {
        #linechart-container {
            margin-top: -6rem;
            margin-bottom: -9rem;
        }
    }

    @media screen and (max-width: 740px) {
        #linechart-container {
            margin-top: -3rem;
            margin-bottom: -6rem;
        }
    }

    @media screen and (max-width: 600px) {
        #linechart-container {
            margin-top: -5rem;
            margin-bottom: -6rem;
        }
    }

    @media screen and (max-width: 500px) {
        #linechart-container {
            margin-top: -8rem;
            margin-bottom: -9rem;
        }
    }